//font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

$fontfamily-var : "Poppins", sans-serif;


//variable


//couleur
$black : #222;
$white : #fff;
$grey : grey;
$blacklight : rgba($black,0.3);
